.swiper-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.swiper-list {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    list-style: none;
    padding: 0;
    touch-action: pan-x;
}